.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #ffff;
  border: 1px solid #A67D44;
  color: #A67D44;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
  max-height: 2rem;
  white-space: nowrap;
}

.form button:hover,
.form button:active {
  background-color: #ffff;
  border-color: #A67D44;
}